/* Nav */
nav {
    position: fixed;
    top: 0;
    left: 0;

    height: 60px;
    width: 100%;
}

nav .nav-center .form-outline .fa-solid {
    transform: translateY(-50%);
}

nav .nav-center .form-outline .form-control {
    padding-left: 1.8em;
}

nav .nav-center .form-outline .form-control::placeholder{
    font-size: .9em;
    opacity: .8;
}

nav .nav-left .mobile-img {
    max-width: 50px;
}

nav .nav-right .fa-bell {
    color: #FF8700;
}
/* /Nav */

/* body */
body{
    padding-top: 60px;
}

/* container */
._container{
    height: calc(100vh - 60px);
    background-color: green;
    /* test */
    position: relative;
}
/* /container */

aside{
    width: 150px;
    height: 100%;
    background-image: url('../img/sidebar-bg.png');
    background-color: #001E36;
    /* test */
    color: white;
}

aside .aside-button .fa-chart-simple{
    font-size: 1.2em;
}

aside .aside-button .fa-signal{
    font-size: .9em; 
}

header{
    position: absolute;
    top: 0;
    left: 150px;

    width: calc(100% - 150px);
    background-color: #0072EF;
    color: white;
}

header .header-left ._btn{
    background-color: rgba(0, 0, 0, .3);
    color: white;
    font-size: .7em;
}

header .breadcrumb-item+.breadcrumb-item::before {
    padding: 0 .2em;
}

header .header-center ._small {
    font-size: .9em;

}

/* /body */

/*  ------------ Responsive ----------- */
@media screen and (max-width: 991.98px) {
    aside{
        width: 70px; 
    }

    header{
        left: 70px;
        width: calc(100% - 70px);
    }
}
/*  ------------ /Responsive ----------- */
