/* Nav */
nav {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;

    height: 60px;
    width: 100%;
    background-color: white;
}

nav .nav-center .form-outline .fa-solid {
    transform: translateY(-50%);
}

nav .nav-center .form-outline .form-control {
    padding-left: 1.8em;
}

nav .nav-center .form-outline .form-control::placeholder{
    font-size: .9em;
    opacity: .8;
}

nav .nav-left .mobile-img {
    max-width: 50px;
}

nav .nav-right .fa-bell {
    color: #FF8700;
}
/* /Nav */

/* body */
body{
    padding-top: 60px;
}

/* container */
._container{
    height: calc(100vh - 60px);
    position: relative;
}
/* /container */

aside{
    width: 150px;
    height: 100%;
    background-image: url('../img/sidebar-bg.png');
    background-color: #001E36;
    color: white;
}

aside .aside-button .fa-chart-simple{
    font-size: 1.2em;
}

aside .aside-button .fa-signal{
    font-size: .9em; 
}

._main-container{
    position: absolute;
    top: 0;
    left: 150px;

    width: calc(100% - 150px);
    height: 100%;

    background-color: #F8F9FA;
}

header {
    background-color: #0072EF;
    color: white;
}

header .header-left ._btn{
    background-color: rgba(0, 0, 0, .2);
    /* color: white;
    font-size: .7em; */
}

header .breadcrumb-item+.breadcrumb-item::before {
    padding: 0 .2em;
}

header .header-center ._small {
    font-size: .9em;

}

header .header-right ._offcanvas-large {
    width: 700px;
}

/* main */
main {
    width: 100%;
}

table {
    font-size: .9em;
}

table thead tr th:not(:first-child){
    width: 15%;
}

table td > img {
    width: 30px;
}

table tr td ._done {
    padding: .15em .5em;
    background-color: #008B4F;
    border-radius: .5em;
    color: white;
}

table tr td ._process {
    padding: .15em .5em;
    background-color: #FFBE00;
    border-radius: .5em;
    color: white;
}

table tr td ._fail {
    padding: .15em .5em;
    background-color: #EE0341;
    border-radius: .5em;
    color: white;
}


/* /main */

/* /body */

/*  ------------ Responsive ----------- */
@media screen and (max-width: 991.98px) {
    aside{
        width: 70px; 
    }

    ._main-container{
        left: 70px;
        width: calc(100% - 70px);
    }
}
/*  ------------ /Responsive ----------- */

