/* Nav */
nav {
    height: 60px;
    width: 100%;
    /* test */

    position: fixed;
    top: 0;
    left: 0;
}

nav .nav-center .form-outline .fa-solid {
    transform: translateY(-50%);
}

nav .nav-center .form-outline .form-control {
    padding-left: 1.8em;
}

nav .nav-left .mobile-img {
    max-width: 50px;
}
/* /Nav */

/* body */

body{
    padding-top: 60px;
}

/* container */
._container{
    height: calc(100vh - 60px);
    background-color: green;
    /* test */
    position: relative;
}
/* /container */

aside{
    width: 150px;
    height: 100%;
    background-image: url('../img/sidebar-bg.png');
    background-color: #001E36;
    /* test */
    color: white;
}

aside .aside-button .fa-chart-simple{
    font-size: 1.2em;
}

aside .aside-button .fa-signal{
    font-size: .9em; 
}

header{
    width: calc(100% - 60px);
    height: 120px;
    background-color: lightblue;
    /* test */

    position: absolute;
    top: 0;
    left: 150px;

    width: calc(100% - 150px);
}

/* /body */

/*  ------------ Responsive ----------- */

/*  ------------ /Responsive ----------- */
